{% extends 'index.html' %}

{% block main %}

<article>
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
</article>


<!-- The loop copy-pasted from papermod -->
{% for page in paginator.pages %}
{% if not page.extra.is_search_page %}
<article class="post-entry">
    <header class="entry-header">
        <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
    </header>
    {% if page.summary %}
    <div class="post-summary">
        <p>{{ page.summary |safe }}</p>
    </div>
    {% endif %}
    <footer class="entry-footer">
        <!-- include "partials/post_meta.html" -->
    </footer>
    <a class="entry-link" aria-label="post link to {{ page.title }}" href="{{ page.permalink }}"></a>
</article>
{% endif %}
{% endfor %}

{% endblock %}
